<footer>
    <ul>
        <li><a href="/">HOME</a></li>
        <li> <a href="/about">ABOUT</a></li>
        <li><a href="/add">ADD A LISTING</a></li>
        <li><a href="/contact">CONTACT</a></li>
</ul>

</footer>

</body>
</html>