<div class="card">
    <img src="public/images/salon-avi.png"></img>
    <div class="card-container">
      <h2>Simply Erinn's Unisex Hair Salon</h2>
      <p>268 Brookline St Cambridge, MA 02139</p>
      <ul>
        <li>wash and set</li>
        <li>hair cut/trim</li>
        <li>hair color</li>
        <li>press and curl/flat iron</li>
        <li>updos</li>
        <li>protective hairstyles</li>
        <li>hair treatment with heat</li>

      </ul>
    </div>
  </div>