<!-- for admin table -->


<tr>
   <td><%= stylist.fullName %> </td>
   <td><%= stylist.isApproved %></td>
   <td>  <button class="review-button"><a href="/admin/approve/<%= stylist._id %>">Review</a></button>

   </div></td>
   <td><form action="/admin/approve/<%= stylist._id %>?_method=DELETE" method="POST">
      <button class="review-button" type="submit">Delete</button>
       </form> </td>
</tr>
