<!-- for admin table -->


<tr>
   <td><%= stylist.fullName %> </td>
   <td><%= stylist.isApproved %></td>
   <td>  <button id="review-button"><a href="/admin/approve/<%= stylist._id %>">Review</a></button>
   </div></td>
</tr>
