<!-- for admin table -->


<tr>
   <td><%= stylist.fullName %> </td>
   <td><%= stylist.isApproved %></td>
   <td>  <button><a href="/admin/approve/<%= stylist._id %>">Approve</a></button>
   </div></td>
</tr>
