<%- include('../partials/head') -%>

<div class="about-container">
    <h1>About</h1>
    <p>The Natural Hair Directory is a community map to find and promote hair stylists that specialize in natural and Black haircare in the Boston area. Despite Boston's diversity, we all know how hard it can be to find a trustworthy stylist that that genuinely cares for and respects the hair that grows from your head. 
    
    In this directory you will find stylists who do hair in a salon or in their homes. Natural, kinky, curly, coarse, pressed or relaxed--do you! This project relies on community input. If you would like to list yourself or a stylist you love to this map, spread the wealth and hit the button below. 
    </p>
    <input type="button" value="ADD A LISTING" class="add-button">
</div>

<%- include('../partials/footer') -%>

