<%- include('../partials/head') -%>

    <div class="form-container" id="add-listing">

        <form action="/add/" method="POST">

            <h1>SUBMIT A LISTING</h1>

            <!-- change html structure here -->
            <div>
                <label for="fullName">Name:</label>
                <input type="text" id="fullName" name="fullName" placeholder="Full Name">
            </div>
            <div>
                <label for="business_type">Business type:</label>
                <select id="business_type" name="business_type">
                    <option value="select" selected disabled>Select</option>
                    <option value="salon">Salon</option>
                    <option value="salon_stylist">Salon Stylist</option>
                    <option value="independent">Independent Stylist</option>
                </select>
            </div>

            <div>
                <label for="address">Address:</label>
                <input id="address" name="address" type="text" placeholder="123 Main St Boston MA" />
                <!-- <input id="submit" type="button" value="Geocode" /> -->
            </div>
            <div id="errMessage">
                <p> </p>
            </div>
            <div>
                <input type="text" id="coords" name="coords" class="hidden">
            </div>
            <div>
                <input type="text" id="lat" name="lat" class="hidden">
            </div>
            <div>
                <input type="text" id="lang" name="lang" class="hidden">
            </div>

            <div>
                <label for="website">Website:</label>
                <input type="text" id="website" name="website" placeholder="hairsalon.com">
            </div>

            <div>
                <label for="number">Number:</label>
                <input type="text" id="number" name="number" placeholder="617-999-9999">
            </div>


            <h2>Social Media</h2>
            <div class>
                <label for="instagram">Instagram <i class="fab fa-instagram"></i></label>
                <input type="text" id="instagram" name="instagram">
            </div>
            <div>
                <label for="Facebook">facebook <i class="fab fa-facebook-f"></i></label>
                <input type="text" id="facebook" name="facebook">
            </div>
            <div>
                <label for="tikTok">TikTok <i class="fab fa-tiktok"></i></label>
                <input type="text" id="tiktok" name="tiktok">
            </div>
            <div>
                <label for="twitter">Twitter <i class="fab fa-twitter"></i></label>
                <input type="text" id="twitter" name="twitter">
            </div>

            <input type="submit" value="Submit">
        </form>

        <!-- this need to be here, but hidden  -->
        <div id="map" class="hidden"> </div>

        <script>
            function initMap() {
                const boston = { lat: 42.3601, lng: -71.0589 };
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 12,
                    center: boston,
                });
            
            const geocoder = new google.maps.Geocoder();
            document.getElementById("address").addEventListener("blur", () => {
                geocodeAddress(geocoder, map);
            });
        }
            function geocodeAddress(geocoder, resultsMap) {
                const address = document.getElementById("address").value;
                geocoder.geocode({ address: address }, (results, status) => {
                    if (status === "OK") {
                        document.querySelector('#errMessage p').innerText = `Address validated!`;
                        document.getElementById("coords").value = results[0].geometry.location;
                    } else {
                        document.querySelector('#errMessage p').innerText = `This address is not recognized. Please enter address with format: 10 Main St Boston MA`;
                        document.getElementById("coords").value = null;
                    }
                });
            }
        </script>

<script src="<%= process.env.MAP_SCRIPT %>" async defer></script>

    </div>

    <%- include('../partials/footer') -%>