<%- include('../partials/head') -%>



<p>Admin page</p>

<p>All listings</p>
<!-- table with edit or delete -->
<p>Listings submitted for approval:</p>

//ejs partial template here with option to approve listing button//

<p></p>






<%- include('../partials/footer') -%>

