<%- include('../partials/head') -%>



<p>Admin page</p>

<p>All listings</p>
<p>Add a listing>

    <div id="floating-panel">
        <input id="address" type="textbox" value="Sydney, NSW" />
        <input id="submit" type="button" value="Geocode" />
      </div>
      <div id="map"></div>

<p></p>






<%- include('../partials/footer') -%>

