<%- include('../partials/head') -%>


<!-- <div class="container"> -->
  
  <div id = "admin-table">
      <table class="admin">
          <tr>
              <th>Salon </th>
              <th>Is Approved?</th>
              <th>Review</th>
              <th>Delete</th>
          </tr>
       
          <% data.forEach(stylist => { %>
            <%- include('../partials/marker', {stylist: stylist}) -%>
                    <% }); %>
          
        
      </table>
  </div>
<!-- </div> -->



<!-- <p>Admin page</p>

  







<%- include('../partials/footer') -%>

