<%- include('../partials/head') -%>
<script src="<%= process.env.MAP_SCRIPT %>"
            async></script>

  <!-- <i class="fas fa-bars fa-2x" id="hambubrger-icon"></i> -->

  <!-- Large container wraps all others -->
  <div class="wrap-container">
   
    <!-- left container -->
    <div class="left-container">
      <h3>HOW TO USE THIS MAP</h3>
      <ol>
        <li>Use the cursor to navigate and zoom into map by the desired neighborhood or area. </li>
        <li>Stylists are represented by icons. Click the icon to view information about a listing.</li>
        <li>View a stylist's information and visit their website/social media to learn more!</li>
      </ol>
    </div>

    <!-- middle container div element for map -->
    <div class="middle-container">
      <div id="map"> </div>

      <script>

let data = <%- JSON.stringify(data) %>;

        const boston = { lat: 42.3601, lng: -71.0589 };

        let map;
        function initMap() {
          const boston = { lat: 42.3601, lng: -71.0589 };
          const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 12,
            center: boston,
          });

          for(each of data) {

            if (each.isApproved == true)  {
              if (each.coords) {
            
            latLng=each.coords;
            latLng = latLng.replace("(", "");
            latLng = latLng.replace(")", "");
            latLng = latLng.split(",")

            lat = Number(latLng[0])
            long = Number(latLng[1])

            console.log(latLng);

          
         const marker = new google.maps.Marker({
          position: new google.maps.LatLng(lat, long),
          map,
            title: each.fullName,
            
          });


          const contentString =
    `<div id="markerContent">` +
    `<h1>${each.fullName}</h1>` +
    `<div><p>${each.business_type}</p></div>` +
    `<div><p>${each.address}</p></div>` +
    `<div><p>${each.phone}</p></div>` +
    `<div><a href = ${each.website}>${each.website}</div>` +
      `<div><p>${each.instagram}</p></div>` +
      `<div><p>${each.facebook}</p></div>` +
      `<div><p>${each.twitter}</p></div>` +
    `</div>`;
       

          const infowindow = new google.maps.InfoWindow({
          content: contentString
          
          });
          marker.addListener("click", () => {
          infowindow.open(map, marker);
     
        });
      } //closes loop for coords check 
      }
        } //closes loop

        } //close init map function
        
      </script>



<button id="googlebtn"><a href="/auth/google" role="button"><i class="fab fa-google"></i></a>
</button>

    </div>

    
    <!-- Global site tag (gtag.js) - Google Analytics -->

   
  
  <%- include('../partials/footer') -%>