
<%- include('../partials/head') -%>

<div id= "confirmationPage">
    <h1>Thanks for adding a listing!</h1>
    <p>We'll review your submission and add it to our directory.</p>
</div>

<%- include('../partials/footer') -%>

