:root{
    --bckrnd-header: #000000;
    --navbar: black;
    --navfont: white;
    --headerfont:'Poppins', sans-serif;
    --bodyfont: 'Raleway', sans-serif;
    --buttoncolor: #79d9c1;
    --cardbckrnd: #D98B79;
    --carditems: #79d9c1;
    --formcolor: #d4b4d9;
    --lightborder: lightgrey; 
    --inputboxcolor: #ccc;
    --icon-arrow-color: #D98B79;
    --yellow: #ffe57d;
    --blue: #2caead;
    --headerblue: #1D939E;
    --softgrey: #f2f3f2;
}

*{
    box-sizing: border-box;
    font-size: 20px;
}

body{
   
    background-color:white;  
    font-family: var(--bodyfont);
    margin: 0; 

}
/* Styles headings (section titles) */
h1, h2, h3, h4, h5, h6{
    font-family: var(--headerfont);
}
/* Styles header */
header{
    height: 40%;
    min-height: 350px;
    text-align: center;
    background:url("/images/main-background.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
   
}

/* ----------------- */


/* Navigation Bar */

.topnav {
    overflow: hidden;
    background-color: #333;

  }
  
  /* Navbar links */
.topnav a {
    
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Links - change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* ----------------------- */

 /* Wrap container for index page */
.wrap-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Lef container - How to use this map section */
div.left-container{
    /* flex: 1 1 calc(25% - 1em);
    min-width: 350px; */
    width: 100%;
    background-color: var(--softgrey);
    margin-bottom: 50px;

}
div.left-container h3{
    text-align: center;
    margin-top: 50px;
}

div.left-container ol{
    margin: 10px;
    list-style-position: inside; 
}

div.left-container li{
    padding: 8px; 
}

/* Middle map container */

.middle-container{
    flex: 0 3 calc(50% - 1em);
    min-width: 600px;
    height: 30rem;

}

/* Google Map */
#map{
    width: 100%;
    height: 100%;
    margin: auto; 
    min-width: 600px;
    

}
.hidden{
    display:none; 
}
/* right container (search by service section) */
.right-container{
    flex: 0 1 calc(25% - 1em);
    min-width: 500px;

}

.filter-bar ul{
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap; 
    max-height: 15rem;
    width: 100%;
    list-style-type: none;
    
}



/* profile cards */

/* container for all listings */

div.lcards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    background-color: var(--softgrey);
    overflow: hidden; 
    padding-top: 30px; 
    margin-top: 20px; 

}

div.card {
    min-width: 500px;
    flex: 0 1 calc(25% - 1em);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px 0px;
    background-color: var(--blue);
    border: 3px solid var(--headerblue);
    border-bottom: none; 
    border-radius: 25px;

}
div.card h2 {
    font-size: 2rem;
    font-weight: 300
}
div.card p {
    text-decoration: underline;
}

div.card-container{
    text-align: center; 
    padding: 5px; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    

}
.card img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-container>ul {

    list-style: none; 
    text-align: left;
}
.card-container li {
    display: inline-block;
    padding: 3px;
    margin: 3px; 
    border: 2px solid var(--yellow);
    border-radius: 10px;
}

    /* About page */

.about-container{
   
    margin: auto;
    max-width: 900px;
    background-image: url("/images/about-background.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 800px;
    background-color: var(--blue);
}
.about-container h1{
    text-align: center;
    font-weight: 200;
    font-size: 3rem;
    /* positions text to not overlap with background image */
    padding-top: 100px;
}
.about-container p{

    margin: 3%;
    font-size: 1.7rem;
}
/* Button */
.add-button, .submit-button, .next-button, .filter-button {
    width: 100%;
    align-self: center;
    margin: 30px 0px 30px 0px;
    background-color: var(--buttoncolor);
    height: 2.5rem;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.add-button:hover, .submit-button:hover, .next-button:hover, .filter-button:hover {
    border: 2px solid var(--yellow);

}

/* Forms Styling*/

div.form-container {
    display: flex;
    margin: auto;
    margin-top: 50px;
    width: 90%;
    max-width: 800px;
    background-image: url("/images/cbackground.png");
    background-repeat: no-repeat; 
    background-position: center; 
    background-color: var(--blue);
    background-size: 900px;
}

/* changes background for add listing form */
div#add-listing{
    background-image: url(/images/addbackground.png);
    background-repeat: no-repeat; 
    background-position: right bottom; 
    background-color: #2caead;
    background-size: 900px;
}

/* Error Message for geocoding failure */
#errMessage p {
    color: rgb(145, 43, 43);
    font-size: .8rem; 
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

form{
    width: 100%;
    padding: 20px; 
    margin: 20px;
    font-size: 1.7rem;
}

form h1 {
    text-align: center; 
    font-size: 3rem;
    margin-bottom: 15px;
    font-weight: 200
}
form h2 {
    text-align: center; 
    margin-bottom: 15px;
    font-weight: 200
}

form input, select {
    padding: 10px;
    margin: 20px 0px;
    border: 2px solid #eee;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    width: 100%;
}


form input:hover {
    
    border:1px solid #111;
    transition: .3s background-color;
}

form input[type=textarea] {
    resize: vertical;
    padding:10px;
    border-radius:10px;
    border:0;
    height:150px;
    border: 2px solid #eee;

  }

  form input[type=textarea]:hover {
    border:1px solid #111;
    transition: .3s background-color;
  }

form select {
    
        width: 100%;
        padding:10px;
        border-radius:10px;
      }



/* ------------- */









/* footer */
footer {
        background-color: #333;
        color: white; 
        font-size: 14px;
        width: auto;
        height: 200px;
        text-align: center; 
        
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 20px; 
    }
    
    footer ul {
        list-style-type: none; 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    footer a {
        text-decoration: none;

    }
    footer li a{
        color: white; 
    }
    footer li {
        padding: 50px; 
    }


/* tablet size */
@media screen and (max-width: 600px){
   
    header {
        min-height: 500px;
        background-size: cover; 
        
    }

    .topnav {
        padding-left: 300px;
        padding-right: 300px;
        display: flex;
        justify-content: space-around;
        /* //make this default topnav// */
    }

    .topnav a {
        /* display: inline-block; */
        padding-left: 60px;
        padding-right: 60px;
    }
    div.left-container{
 
        text-align: center;
    }

    .middle-container{
        width: 60%;
        min-width: 600px;
    }

    .filter-bar ul{
        display: flex; 
        flex-direction: column;
        width: 100%;
        max-height: 30rem; 
        list-style-type: none;
        
    }
    



}
    

/* Desktop size  */
@media only screen and (min-width: 768px){

    header {
        min-height: 700px;
        background-size: cover;
         

    }
   
    .topnav {
        padding-left: 300px;
        padding-right: 300px;
        display: flex;
        justify-content: space-around;
    }

    
.topnav a {
    /* display: inline-block; */
    padding-left: 60px;
    padding-right: 60px;
}

    div.left-container{
      
        text-align: center;
    }
    .about-container{
        margin: 0, 15%;
     
    }
    .filter-bar ul{
        display: flex; 
        flex-direction: column;
        width: 100%;
        max-height: 30rem; 
        list-style-type: none;
        
    }
  
    

}